* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --orange-icons: #ff5c26;
}

.bg-holder {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    background: center no-repeat url('../images/canvas-bg.jpg');
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    .bg-holder  {
            height: 100%;
    }
  }

main {

    color: white;
    padding-left: 50px;
}
header{
    width: 100%;
}
.nav-holder {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px;
}

.fa-icons {
    color: var(--orange-icons);
    ;
    cursor: pointer;
}

.colored-span {
    color: var(--orange-icons);
}



.wrapper {
    display: flex;
    flex-direction: column;
}

.form-holder {
    width: 40vw;
    flex: 1;
    margin-top: 70px;
}

.wrapper .title h1 {
    font-size: 6vw;
    margin-bottom: 30px;
}

.desc p {
    font-size: 2vw;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.8);

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 30px;
}

.contact-form {
    padding: 10px;
}

.contact-form-message {
    padding: 30px;
}

button {
    height: 50px;
    width: 80px;
    background-color: var(--orange-icons);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: x-large;
}


/* Hidden Nav */
#nav-div {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    display: none;
    height: 100vh;
    width: 100vw;
}

.left .social-media .fa-icons {
    color: var(--orange-icons);
    ;
}

.menu-btn-1 {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 50px;
    z-index: 100;
}

.avatar img {
    border: 1.5px solid var(--orange-icons);
    border-radius: 50%;
    height: 175px;
    width: 175px;
    cursor: pointer;
}


.email p {
    color: var(--orange-icons);
    inline-size: 18vw;
    overflow-wrap: break-word;
    text-align: center;
}

.left {
    position: absolute;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: rgba(251, 124, 81, 0.3); */

}

.left div {
    padding: 5px 0;
}

.right {
    position: absolute;
    width: 50vw;
    height: 100vh;
    left: 50vw;
    display: flex;
    color: var(--orange-icons);
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: rgba(165, 41, 34, 0.3); */
}

a {
    text-decoration: none;
    color: var(--orange-icons);
}

ul {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

ol {
    position: relative;
    margin: 15px 0;
    padding: 10px;
    width: 140px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0);
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
}

ol:hover {

    scale: 1.5;
}